<div style="height:35px">&nbsp;</div><!-- spacer -->

<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td bgcolor="#363636" style="padding:10px 0">
            <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
               <tr>
                    <td>
                        {{#if social_links}}
                        <table width="580" cellpadding="0" cellspacing="0"  style="margin:0 0 20px 0" border="0" align="center" class="deviceWidth">
                            <tr>
                                <td align="center" class="center">
                                    <a href="https://plus.google.com/114300033505698214955" target="_blank"><img src="http://www.annsummers.com/html/images/email/responsive/icon-google.gif" width="42" height="42" alt="Google Plus" title="Google Plus" border="0" /></a>
                                    <a href="http://youtube.com/AnnSummersTV/" target="_blank"><img src="http://www.annsummers.com/html/images/email/responsive/icon-youtube.gif" width="42" height="42" alt="You Tube" title="You Tube" border="0" /></a>
                                    <a href="http://www.twitter.com/Ann_Summers" target="_blank"><img src="http://www.annsummers.com/html/images/email/responsive/icon-twitter.gif" width="42" height="42" alt="Twitter" title="Twitter" border="0" /></a>
                                    <a href="http://www.facebook.com/AnnSummersOfficial" target="_blank"><img src="http://www.annsummers.com/html/images/email/responsive/icon-facebook.gif" width="42" height="42" alt="Facebook" title="Facebook" border="0" /></a>
                                    <a href="http://pinterest.com/annsummerstm/" target="_blank"><img src="http://www.annsummers.com/html/images/email/responsive/icon-pinterest.gif" width="42" height="42" alt="Pinterest" title="Pinterest" border="0" /></a>
                                    <a href="http://instagram.com/officialannsummers" target="_blank"><img src="http://www.annsummers.com/html/images/email/responsive/icon-instagram.gif" width="42" height="42" alt="Instagram" title="Instagram" border="0" /></a>
                                </td>
                            </tr>
                        </table>
                        {{/if}}

                        <table width="580" cellpadding="0" cellspacing="0"  border="0" align="left" class="deviceWidth">
                            <tr>
                                <td align="center" valign="top" class="center" style="font-size: 11px; color:#999; font-family: Arial, sans-serif;">
                                    <a href="http://www.annsummers.com/?utm_source=Newsletter&utm_medium=Email&utm_content=LogoFooter&utm_campaign={{ campaign_id }}&_$ja=tsid:63435|cgn:{{ campaign_id }}|kw:{{ campaign_keyword }}&dcs_em=##CuCusto2##" target="_blank"><img src="http://www.annsummers.com/html/images/email/responsive/130x40-logo-dark.gif" alt="" title="" border="0" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 11px; color:#999; font-family: Arial, sans-serif; padding-bottom:20px" class="center">
                                    <br>
                                    As we have added you to our contact list, we hope you will add us to yours. That way you will never miss out on our great offers and email exclusives! Add <span style="color:#626161">annsummers@email.annsummers.com</span> to your address book. If you want to contact us please visit our website <a href="http://www.annsummers.com/page/ContactUs/?utm_source=Newsletter&utm_medium=Email&utm_content=Footerlink&utm_campaign={{ campaign_id }}&_$ja=tsid:63435|cgn:{{ campaign_id }}|kw:{{ campaign_keyword }}&dcs_em=##CuCusto2##" target="_blank" style="color:#626161;">www.annsummers.com</a> or alternatively you can reach us by email <a style="color:#626161;" href="mailto:ccare@annsummers.com">ccare@annsummers.com</a> or by telephone <a href="tel:03334406969" style="color:#626161;"> 0333 440 6969</a> (Monday to Friday 08:00 - 23:00, Saturday 09:00 - 18:00, Sunday 09:30 - 18:00).
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 11px; color: #f1f1f1; font-weight: normal; font-family:Arial, Helvetica, sans-serif; line-height: 26px; vertical-align: top; text-align:left" class="center">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 11px; color: #999; font-weight: normal; font-family:Arial, Helvetica, sans-serif; line-height: 13px; vertical-align: top; text-align:left" class="center">
                                    TERMS &amp; CONDITIONS<br>
                                    Offers may be modified or discontinued at any time without notice.<br/> All offers and promotions are subject to our full
                                    <a href="http://www.annsummers.com/page/TermsAndConditions?utm_source=Newsletter&utm_medium=Email&utm_content=TAndCs&utm_campaign={{ campaign_id }}&_$ja=tsid:63435|cgn:{{ campaign_id }}|kw:{{ campaign_keyword }}&dcs_em=##CuCusto2##" target="_blank" style="color:#626161;">Terms and Conditions</a>.
                                    <br/><br/>All content &copy; 2015 Ann Summers Limited. Gold Group House, Godstone Road, Whyteleafe, Surrey, CR3 0GG. If you no longer wish to receive our updates, you can <a href="http://www.annsummers.com/page/UnsubscribeSuccess?utm_source=Newsletter&utm_medium=Email&utm_content=UnsubscribeFooter&utm_campaign={{ campaign_id }}&_$ja=tsid:63435|cgn:{{ campaign_id }}|kw:{{ campaign_keyword }}&dcs_em=##CuCusto2##" linkname="Unsubscribe" style="color:#626161;">UNSUBSCRIBE</a>.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>